# Agents
.claude/
CLAUDE.md

# Byte-compiled / optimized
__pycache__/

# RepMod data
*families.fa
*families.stk
*rmod.log
*.nhr
*.nin
*.njs
*.nnd
*.nni
*.nog
*.nsq
*.translation
RM_*/

# snakemake files
.snakemake/
results/

# reads
data/*.fasta.gz
genome_assemblies/

# system files
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Pixi stuff
.pixi

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
